<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head.ejs', {title:"Cafe Buenos Aires", style:"index"}) %>

    <body>
        <%- include('./partials/header.ejs') %>
            <main>


                <div class="hero">
                    <picture>
                        <source media="(max-width: 499px)" srcset="./images/hero_mobile.png" class="products-cards__image">
                        <source media="(max-width: 1199px)" srcset="./images/hero_tablet.png" class="products-cards__image">
                        <source media="(min-width: 1200px)" srcset="./images/hero_desktop.png" class="products-cards__image">
                        <img class="products-cards__image" src="./images/hero_mobile.png" alt="">
                    </picture>
                </div>

                <div class="seccion-recomendados">
                    <h2>Recomendados</h2>
                    <div class="producto-recomendado">
                        <div class="producto-recomendado-imagen">
                            <%- include('./partials/picture.ejs', {seccion:"recomendado", producto:"brasil"}) %>
                        </div>
                        <div class="producto-recomendado-descripcion">
                            <h3>Brazil</h3>
                            <p>Color: datazo</p>
                            <p>Otro dato: Datazo</p>
                            <p>Tipo de algo: Dato</p>
                            <p>Tipo de algo: Dato</p>
                        </div>
                    </div>

                    <div class="producto-recomendado">
                        <div class="producto-recomendado-descripcion">
                            <h3>Colombia</h3>
                            <p>Color: datazo</p>
                            <p>Otro dato: Datazo</p>
                            <p>Tipo de algo: Dato</p>
                            <p>Tipo de algo: Dato</p>
                        </div>
                        <div class="producto-recomendado-imagen">
                            <%- include('./partials/picture.ejs', {seccion:"recomendado", producto:"colombia"}) %>
                        </div>

                    </div>

                    <div class="producto-recomendado">
                        <div class="producto-recomendado-imagen">
                            <picture>
                                <%- include('./partials/picture.ejs', {seccion:"recomendado", producto:"sumantra"}) %>
                            </picture>
                        </div>
                        <div class="producto-recomendado-descripcion">
                            <h3>Sumantra</h3>
                            <p>Color: datazo</p>
                            <p>Otro dato: Datazo</p>
                            <p>Tipo de algo: Dato</p>
                            <p>Tipo de algo: Dato</p>
                        </div>
                    </div> 

                    <div class="producto-recomendado">
                        <div class="producto-recomendado-descripcion">
                            <h3>Costa Rica</h3>
                            <p>Color: datazo</p>
                            <p>Otro dato: Datazo</p>
                            <p>Tipo de algo: Dato</p>
                            <p>Tipo de algo: Dato</p>
                        </div>
                        <div class="producto-recomendado-imagen">
                            <%- include('./partials/picture.ejs', {seccion:"recomendado", producto:"costa-rica"}) %>
                        </div>

                    </div>
                </div>

                <section class="products">
                    <h2>Productos</h2>
                    <div class="products-filter">

                        <div class="products-filter-order">
                            <h4>Ordenar por</h4>
                            <input list="order-by-choice" id="order-by" name="order-by" />

                            <datalist id="order-by-choice">
                                <option value="Mayor Precio">
                                <option value="Menor Precio">
                            </datalist>
                        </div>

                        <div class="products-filter-categories">
                            <h4> Categorias </h4>
                            <ul class="products-filter-categories-list">
                                <li class="products-filter-categories-list__item"><a href="">Cafe y Te</a></li>
                                <li class="products-filter-categories-list__item"><a href="">Cafe de Especialidad</a>
                                </li>
                                <li class="products-filter-categories-list__item"><a href="">Tostado</a></li>
                                <li class="products-filter-categories-list__item"><a href="">Organico</a></li>
                            </ul>
                        </div>

                        <div class="products-filter-price">
                            <h4>Precio</h4>
                            <input type="number" name="min" id="price-min" placeholder="Min">
                            <input type="number" name="max" id="price-max" placeholder="Max">
                        </div>


                    </div>

                    <div class="products-cards">

                        <div class="searchBox">
                            <input id="searchBox__input" class="searchBox__input" placeholder="Buscar..." type="text" /><i
                                class="fa-solid fa-magnifying-glass"></i>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <%- include('./partials/picture.ejs', {seccion:"producto", producto:"bournbon"}) %>

                            <div class="card__items">
                                <h4>Bournbon</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <%- include('./partials/picture.ejs', {seccion:"producto", producto:"nicaragua"}) %>

                            <div class="card__items">
                                <h4>Nicaragua</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <%- include('./partials/picture.ejs', {seccion:"producto", producto:"guatemala"}) %>


                            <div class="card__items">
                                <h4>Guatemala</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <%- include('./partials/picture.ejs', {seccion:"producto", producto:"etiopia"}) %>


                            <div class="card__items">
                                <h4>Etiopia</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <%- include('./partials/picture.ejs', {seccion:"producto", producto:"verona"}) %>


                            <div class="card__items">
                                <h4>Verona</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <%- include('./partials/picture.ejs', {seccion:"producto", producto:"costa-rica"}) %>


                            <div class="card__items">
                                <h4>Costa Rica</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <%- include('./partials/picture.ejs', {seccion:"producto", producto:"colombia"}) %>


                            <div class="card__items">
                                <h4>Colombia</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <%- include('./partials/picture.ejs', {seccion:"producto", producto:"sumantra"}) %>


                            <div class="card__items">
                                <h4>Sumantra</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>

                        <div class="card space-arround">
                            <div class="products-cards__like">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <%- include('./partials/picture.ejs', {seccion:"producto", producto:"brasil"}) %>

                            <div class="card__items">
                                <h4>Brasil</h4>  
                                <span>$ 375</span>


                                <input list="molienda-select-choice" id="molienda-select" name="molienda-select"
                                    placeholder="Molienda" />

                                <datalist id="molienda-select-choice">
                                    <option value="Extra Fina">
                                    <option value="Fina">
                                    <option value="Gruesa">
                                </datalist>

                                <button type="">Agregar al carrito</button>

                            </div>
                        </div>


                    </div>


                </section>

            </main>

            <div class="nosotros">
                <h2>Nosotros</h2>
                <div class="card space-arround">
                   <a href="https://github.com/Jedamara" target="_blank" ><img class="products-cards__image" src="./images/avatar-1.png" alt=""></a>
                    <h3>Daniela</h3>
                    <p><b>Grano Favorito</b></p>
                    <p>Colombia</p>

                    <p><b>Cafe Preferido</b></p>
                    <p>Expreso</p>

                    <p><b>Cafetera favorita</b></p>
                    <p>Chemex</p>
                </div>

                <div class="card space-arround">
                    <a href="https://github.com/juanvaless" target="_blank" ><img class="products-cards__image" src="./images/avatar-2.png" alt=""></a>
                     <h3>Juan Vales</h3>
                     <p><b>Grano Favorito</b></p>
                     <p>Colombia</p>
 
                     <p><b>Cafe Preferido</b></p>
                     <p>Expreso</p>
 
                     <p><b>Cafetera favorita</b></p>
                     <p>Chemex</p>
                 </div>

                 <div class="card space-arround">
                    <a href="https://github.com/Juandaya" target="_blank" ><img class="products-cards__image" src="./images/avatar-3.png" alt=""></a>
                     <h3>Juan Aya</h3>
                     <p><b>Grano Favorito</b></p>
                     <p>Colombia</p>
 
                     <p><b>Cafe Preferido</b></p>
                     <p>Expreso</p>
 
                     <p><b>Cafetera favorita</b></p>
                     <p>Chemex</p>
                 </div>

                 <div class="card space-arround">
                    <a href="https://github.com/ehgarcia" target="_blank" ><img class="products-cards__image" src="./images/avatar-4.png" alt=""></a>
                     <h3>Eze Garcia</h3>
                     <p><b>Grano Favorito</b></p>
                     <p>Colombia</p>
 
                     <p><b>Cafe Preferido</b></p>
                     <p>Expreso</p>
 
                     <p><b>Cafetera favorita</b></p>
                     <p>Chemex</p>
                 </div>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>